body{
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 240px;
    background-color: #D40924;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.logo-icon{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 10px;
}

.logo-text{
    color: white;
    font-size: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: white;
    color: #D40924;
}

nav span{
    margin-left: auto;
    background-color: white;
    color: #D40924;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 999px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px 24px;
    border-bottom: 1px solid #E2E8F0;
}

.boss{
    font-size: 16px;
    font-weight: bold;
}

input{
    width: 340px;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
}

footer{
    margin-top: auto;
    border-top: 1px solid #F1F5F9;
    margin-left: -16px;
    margin-right: -16px;
    padding: 8px 16px 0;
}

footer a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    font-size: 13px;
}

.active{
    background-color: white;
    color: #D40924;
}

main{
    flex: 1;
    background-color: #F1F5F9;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

ul{
    list-style: none;
}

section{
    padding: 24px;
}

.greeting{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
}

.date{
    color: #D40924;
    font-size: 14px;
}

.here{
    color: gray;
    font-size: 13px;
}

section button{
    background-color: #D40924;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #8b0000;
}

.stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
}

.label{
font-size: 12px;
text-transform: uppercase;
color: grey;
}

.number{
    font-size: 32px;
    font-weight: bold;
}

.note{
    font-size: 12px;
    color: grey;
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    margin-top: 24px;
    align-items: start;
}

.table-card{
    background-color: white;
    padding: 0;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    display: flex;
    flex-direction: column;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E2E8F0;
}

.table-head h2{
    font-size: 16px;
    color: #0A3F86;
}

.table-head p{
    font-size: 12px;
    color: grey;
}

th{
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #F1F5F9;
    color: grey;
    padding: 10px 8px;
}

th:first-child, td:first-child{
    padding-left: 20px;
}

th:last-child, td:last-child{
    padding-right: 20px;
}

td{
    padding: 14px 8px;
    border-top: 1px solid #E2E8F0;
    font-size: 12px;
}

.history-btn{
    background-color: #F1F5F9;
    color: black;
    border: 1px solid #E2E8F0
}

.table-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    margin-top: auto;
    border-top: 1px solid #E2E8F0;
}

.table-footer p{
    font-size: 12px;
    color: gray;
}

.table-footer a{
    font-size: 12px;
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.table-footer a:hover{
color: #0A3F86;
}

.table-controls{
    display: flex;
    align-items: center;
    gap: 10px;
}

select{
    background-color: white;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
}

select:focus{
    outline: none;
    border-color: #0A3F86;
}

.side-col{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side-card{
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
}

.healthy{
    color: green;
    font-size: small;
}

.ring{
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(green 0 86%, lightgray 0);
}

.ring-inner{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.ring-row{
    display: flex;
    align-items: center;
    gap: 16px;
}

.bar{
    background-color: lightgray;
    border-radius: 999px;
    height: 8px;
}

.bar-fill{
    background-color: green;
    height: 8px;
    border-radius: 999px;
    width: 84%;
}

.provider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 12px;
}

.other{
    font-size: 13px;
    color: black;
}

h1{
    color: #0A3F86;
    font-size: 32px;
}

.status{
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    background-color: #b3ecf1;
}

.card-top{
    display: flex;
    justify-content: space-between;
}

.target-row{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
    border-top: 1px solid #E2E8F0;
}

.user{
    align-items: center;
    gap: 10px;
    display: flex;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    background-color: lightblue;
    color: #0A3F86;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.claims{
    color: gray;
    font-size: 12px;
}

.initials{
    border-radius: 8px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    background-color: lightblue;
    color: #0A3F86;
}

.percent{
    margin-left: auto;
    color: green;
    font-weight: bold;
}

h3{
    color: #0A3F86;
    font-size: 16px;
}

.big{
    font-size: 15px;
    font-weight: bold;
}